rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionId} {
      allow read, write: if true;
    }

    // CONCEDE PERMISO DE LECTURA Y ESCRITURA A LA COLECCIÓN DE EVALUACIONES
    // Y A TODOS LOS DOCUMENTOS QUE CONTIENE. ESTA ES LA REGLA CORRECTA.
    match /evaluations/{document=**} {
      allow read, write: if true;
    }
  }
}
